body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #333;
  color: white;
}

nav h1 {
  margin: auto 20px;
}

nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  padding: 20px;
  text-decoration: none;
  font-size: 16px;
  color: white;
}

nav a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}
